.carousel {
  overflow: hidden;
}

.inner {
  white-space: nowrap;
  transition: transform 800ms ease-in-out;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: white;
  transition: transform 400ms ease-in-out;
}

.carousel-item.active {
  transform: scale(1.1);
}

.carousel-item:hover:not(.active) {
  transform: scale(1.05);
}
.carousel-item:hover.active {
  transform: scale(1.15);
}

.indicators {
  display: flex;
  justify-content: center;
  align-items: center;
}

.indicators > .dot > i {
  margin: 1rem 0.3rem;
  opacity: 0.2;
  transform: scale(1);
  transition: color 400ms ease-in-out, transform 400ms ease-in-out;
}
.dot > i.active {
  transform: scale(1.2);
  opacity: 1;
  color: #16e0bd;
}
.dot > i:hover:not(.active) {
  transform: scale(1.125);
  color: #16e0bd;
  opacity: 0.4;
  cursor: pointer;
}

.dot > i:active:not(.active) {
  transform: scale(1.2);
  color: #16e0bd;
  cursor: pointer;
  opacity: 1;
}

.arrow {
  display: flex;
  z-index: 1000;
  position: relative;
  margin: 1rem 0.3rem;
  opacity: 0.2;
  transform: scale(1);
  transition: color 400ms ease-in-out, transform 400ms ease-in-out;
}
.arrow.active {
  color: #16e0bd;
  opacity: 1;
  transform: scale(1.2);
}
.arrow:hover:not(.active) {
  transform: scale(1.2);
  opacity: 0.4;
  color: #16e0bd;
  cursor: pointer;
}
.arrow:active:not(.active) {
  transform: scale(1.2);
  color: #16e0bd;
  cursor: pointer;
  opacity: 1;
}

@media (min-width: 600px) {
  .carousel-item {
    padding: 0.8rem 0rem;
  }
}
