*,
*::before,
*::after {
  box-sizing: border-box;
}

/*! custom properties */

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: rgba(48, 48, 48);
  --clr-accent: 22, 224, 189;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-h4: 1.125rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25);
  --bs-2: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-h4: 1.25rem;
    --fs-body: 1.125rem;
  }
}

/*! general styles */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
  overflow-x: hidden;
}

section {
  padding: 3em 2em 3em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: bold;
}

:focus {
  outline: 3px solid var(--fw-bold);
  outline-offset: 3px;
}

/*! Buttons */

.btn {
  padding: 0.5em 2.5em;
  background: rgba(var(--clr-accent));
  color: var(--clr-dark);
  border: 2px solid rgba(var(--clr-accent));
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  transition: transform 500ms ease-in-out;
}

.btn:hover {
  transform: scale(0.9);
}

/*! Typography */

h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
}

h4 {
  line-height: 1.1;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

h4 {
  font-size: var(--fs-h4);
}

a {
  text-decoration: none;
  color: rgba(var(--clr-accent));
}

.section__title {
  margin-bottom: 0.25em;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
}

.section__subtitle--intro,
.section__subtitle--about {
  background: rgba(var(--clr-accent));
  padding: 0.25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
  overflow: hidden;
}

.section__subtitle--intro span {
  position: relative;
  z-index: 2;
}

.section__subtitle--intro span:after {
  content: "";
  position: absolute;
  background-color: rgba(var(--clr-accent));
  left: 100%;
  top: 0;
  height: 100%;
  width: 200%;
  border-left: 2px solid transparent;
  animation: typing 2s steps(21) infinite;
}

@keyframes typing {
  0% {
    left: 0%;
    border-left-color: rgba(var(--clr-accent));
    border-left: 2px solid var(--clr-dark);
  }

  99% {
    left: 100%;
    margin: 0 0.5em;
    border-left-color: 2px solid var(--clr-dark);
  }
  100% {
    left: 100%;
    margin: 0 0.5em;
    border-left-color: 2px solid transparent;
  }
}

@media (max-width: 750px) {
  .section__subtitle--intro span:after {
    display: none;
  }
}

.section__subtitle--work {
  color: rgba(var(--clr-accent));
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}

/*! header */

header {
  display: flex;
  justify-content: space-between;
  margin-right: 1em;
  padding: 1em 0em 1em 0;
}

.nav__logo {
  max-width: 12rem;
  cursor: pointer;
}

.nav {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav_list_closed {
  display: none;
}

.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
  text-decoration: none;
}

.nav__link:hover,
.nav__link:focus {
  color: rgba(var(--clr-accent));
  text-decoration: underline;
}

.nav-toogle {
  align-self: flex-start;
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: relative;
  right: 0em;
  top: 0em;
  z-index: 1000;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: rgba(var(--clr-accent));
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}

.hamburger::after {
  bottom: 6px;
}

.nav_open .nav {
  transform: translateX(0);
}

.nav_open .nav-toggle {
  position: fixed;
}

.nav_open .hamburger {
  transform: rotate(0.625turn);
}

.nav_open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav_open .hamburger::after {
  opacity: 0;
}

/*! intro section */

.intro {
  max-width: 1000px;
  margin: 0 auto;
}

.intro_img_container {
  box-shadow: var(--bs);
  padding: 0.8rem 0.8rem;
  background-color: #fff;
  height: fit-content;
}

.intro_img {
  box-shadow: var(--bs-2);
}

/*! portfolio page */

.portfolio_item_img {
  box-shadow: var(--bs-2);
}

.portfolio_item_btn {
  width: fit-content;
  display: flex;
  background-color: var(--clr-light);
  color: var(--clr-dark);
  border: 2px solid rgba(var(--clr-accent));
  margin: 1em auto 0 auto;
  align-items: center;
  transition: transform 500ms ease-in-out, background-color 250ms ease-in-out;
}
.portfolio_item_link {
  text-decoration: none;
  width: fit-content;
  height: min-content;
}
.portfolio_item_btn:hover {
  background-color: rgba(var(--clr-accent), 0.3);
  cursor: pointer;
  transform: scale(0.9);
}

.portfolio_item_btn:active {
  background-color: rgba(var(--clr-accent));
  box-shadow: inset var(--bs);
  border: 2px solid transparent;
}

@media (min-width: 600px) {
  section {
    padding: 5em 2em 2em 2em;
  }

  .intro {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas:
      "img title "
      "img subtitle "
      "img btn ";
    grid-column-gap: 2em;
  }

  .section__title--intro {
    grid-area: title;
  }

  .section__subtitle--intro {
    align-self: start;
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    text-align: right;
    left: -1em;
    width: calc(100% + 2em);
    padding-right: 1em;
    padding-left: calc(215px + 4em);
    margin-bottom: 0.5em;
  }

  .intro_img_container {
    grid-area: img;
    position: relative;
    z-index: 2;
  }

  .portfolio_item_btn {
    grid-area: btn;
    margin: 0;
    display: flex;
    align-self: flex-end;
    max-height: 5em;
  }

  .portfolio_item_link {
    display: flex;
    align-self: flex-end;
  }
}

/*!  My services section  */

.my-services {
  background-color: var(--clr-dark);
  background-image: url("./bcg.services.png");
  background-blend-mode: multiply;
  background-size: cover;
  color: var(--clr-light);
  text-align: center;
  padding: 5em 2em;
}

.section__title--services {
  color: rgba(var(--clr-accent));
  position: relative;
}

.section__title--services::after {
  content: "";
  display: block;
  width: 3em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: currentColor;
  opacity: 1;
}

.services {
  margin-bottom: 3em;
}

.service {
  width: fit-content;
  margin: 0 auto;
}

.service + .service {
  margin-top: 2.5em;
}

@media (min-width: 800px) {
  .services {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .service {
    margin-left: 1em;
    margin-right: 1em;
  }

  .service h3 {
    min-height: 2.2em;
  }

  .service > p {
    text-align: justify;
  }

  .service + .service {
    margin-top: 0;
  }
}

/*! about-me */

.about-me {
  max-width: 1000px;
  margin: 0 auto;
}

.about-me__img {
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 2em;
  }

  .section__title--about {
    grid-area: title;
  }

  .section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}

/*! my-work */

.my-work {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}

.portfolio {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.8rem;
}

.portfolio__img {
  padding-left: 1rem;
  padding-right: 1rem;
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.portfolio__item:focus {
  position: relative;
  z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
  /* transform: scale(1.1); */
  opacity: 0.7;
}

/*! Skills */

.skills_section {
  text-align: center;
}

.skills_btn {
  width: 10em;
  height: 4em;
  margin: clamp(0.5em, 1vw, 1em);
  background-color: var(--clr-light);
  color: var(--clr-dark);
  border: 2px solid rgba(var(--clr-accent));
  align-items: center;
  transition: transform 500ms ease-in-out, background-color 250ms ease-in-out;
}

.skills_btn:hover {
  background-color: rgba(var(--clr-accent), 0.3);
  cursor: pointer;
  transform: scale(0.9);
}

.skills_btn:active {
  background-color: rgba(var(--clr-accent));
  box-shadow: inset var(--bs);
  border: 2px solid transparent;
}

.skills_btn_focus {
  background-color: rgba(var(--clr-accent));
}

.skills_list {
  text-align: center;
  margin: 1rem auto 0 auto;
}

.skills_list ul {
  align-items: center;
  margin: 0;
  padding: 0;
}
.skills_list li {
  list-style: none;
  text-align: left;
}

@media (min-width: 600px) {
  .skills_list {
    display: flex;
    flex-direction: column;
    margin: 1rem auto 0 auto;
    max-width: 685px;
  }

  .skills_list ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .skills_list li {
    display: inline-flex;
    margin: 0;
    text-align: left;
  }
  .skills_progress {
    display: inline-flex;
    margin: 0;
  }
}

/*! footer */

.footer {
  background: #111;
  color: rgba(var(--clr-accent));
  text-align: center;
  padding: 2.5em 0;
}

.footer a {
  color: inherit;
  text-decoration: none;
  font-size: var(--fs-h3);
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: 0.6;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  padding: 0.5em;
}

.portfolio-item-individual {
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
}
.portfolio-item-individual p {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
